[build]
builder = "NIXPACKS"
buildCommand = "npm install && npm run build"
watchPatterns = ["backend/api/**"]

[deploy]
startCommand = "npm run start"
restartPolicyType = "ON_FAILURE"
restartPolicyMaxRetries = 10
